{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}
{% block body %}
        <div class="container-fluid">

                <div class="row">
                    <div class="col-12 text-center">
                        <img src="{{ asset('img/logov7.png') }}" id="imgIndex" alt="logo" width="350" height="350" class="m-auto">'
                    </div>
                </div>

                {% if lastSubjects is not null %}
                <h1 class="m-auto text-center text-light police-text">Sujets recemment créés : </h1>
                <div class="accordion page-trans">
                    {% for lastSubject in lastSubjects %}
                    <div class="row p-2">
                        <div class="col-8">
                            <h5 class="mb-0">
                                <p class="title text-light">{{ lastSubject.title }}</p>
                            </h5>
                            <p class="text-light">{{ lastSubject.description }}</p>
                            <a  href="{{path('subject', {id : lastSubject.id})}}" class="btn btn-color active m-2" role="button">Voir l'article</a>
                        </div>
                        <div class="col-12 offset-xl-3 col-xl-1 col-md-2 offset-md-2 text-center">
                            <p class="border bg-white">Vues : {{ lastSubject.view }}</p>
                            <p class="border bg-white">réponses : {{ lastSubject.answers|length }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if lastThree is not null %}
                <h1 class="m-auto text-center text-light police-text">Sujets recemment vus : </h1>
                <div class="accordion page-trans">
                    {% for lastThre in lastThree %}
                    <div class="row p-2" >
                        <div class="col-8">
                            <h5 class="mb-0">
                                <p class="title text-light">{{ lastThre.title }}</p>
                            </h5>
                            <p class="text-light">{{ lastThre.description }}</p>
                            <a  href="{{path('subject', {id : lastThre.id})}}" class="btn btn-color active m-2" role="button">Voir l'article</a>
                        </div>
                        <div class="col-12 offset-xl-3 col-xl-1 col-md-2 offset-md-2 text-center">
                            <p class="border bg-white">Vues : {{ lastThre.view }}</p>
                            <p class="border bg-white">réponses : {{ lastThre.answers|length }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if lastResearch is not null %}
                <h1 class="m-auto text-center text-light police-text">Sujets recemment cherchés avec le mot-clé '{{ keyWord }}' : </h1>
                <div class="accordion page-trans">
                    {% for lastSearch in lastResearch %}
                    <div class="row p-2" >
                        <div class="col-8">
                            <h5 class="mb-0">
                                <p class="title text-light">{{ lastSearch.title }}</p>
                            </h5>
                            <p class="text-light">{{ lastSearch.description }}</p>
                            <a  href="{{path('subject', {id : lastSearch.id})}}" class="btn btn-color active m-2" role="button">Voir l'article</a>
                        </div>
                        <div class="col-12 offset-xl-3 col-xl-1 col-md-2 offset-md-2 text-center">
                            <p class="border bg-white">Vues : {{ lastSearch.view }}</p>
                            <p class="border bg-white">réponses : {{ lastSearch.answers|length }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endblock %}
