{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}

{% block body %} {# rendu de la page d'accueil #}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center"> {# logo du site #}
            <img src="{{ asset('img/logov7.png') }}" id="imgIndex" alt="logo" width="350" height="350" class="m-auto">'
        </div>
    </div>
    {% if lastSubjects is not null %} {# affichage des 5 derniers sujets créés #}
    <h1 class="m-auto text-center text-light police-text">Sujets recemment créés : </h1>
    <div class="accordion page-trans">
        {% for lastSubject in lastSubjects %}
            {% if lastSubject is not null %}
            <div class="row p-2">
                <div class="col-8">
                    <h5 class="mb-0 title text-light">{{ lastSubject.title }}</h5>
                    <p class="text-light">{{ lastSubject.description }}</p>
                    <a  href="{{path('subject', {id : lastSubject.id})}}" class="btn btn-color active m-2" role="button">Voir l'article</a>
                </div>
                <div class="col-12 offset-xl-3 col-xl-1 col-md-2 offset-md-2 text-center">
                    <p class="border bg-white">Vues : {{ lastSubject.view }}</p>
                    <p class="border bg-white">réponses : {{ lastSubject.answers|length }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if lastFive is not null %} {# affichage des 5 derniers sujets visités #}
    <h1 class="m-auto text-center text-light police-text">Sujets recemment vus : </h1>
    <div class="accordion page-trans">
        {% for lastThre in lastFive %}
            {% if lastThre is not null %}
            <div class="row p-2" >
                <div class="col-8">
                    <h5 class="mb-0 title text-light">{{ lastThre.title }}</h5>
                    <p class="text-light">{{ lastThre.description }}</p>
                    <a  href="{{path('subject', {id : lastThre.id})}}" class="btn btn-color active m-2" role="button">Voir l'article</a>
                </div>
                <div class="col-12 offset-xl-3 col-xl-1 col-md-2 offset-md-2 text-center">
                    <p class="border bg-white">Vues : {{ lastThre.view }}</p>
                    <p class="border bg-white">réponses : {{ lastThre.answers|length }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if lastResearch is not null %} {# affichage des 5 derniers sujets recherchés selon un mot clé #}
    <h1 class="m-auto text-center text-light police-text">Sujets recemment cherchés avec le mot-clé '{{ keyWord }}' : </h1>
    <div class="accordion page-trans">
        {% for lastSearch in lastResearch %}
            {% if lastSearch is not null %}
            <div class="row p-2" >
                <div class="col-8">
                    <h5 class="mb-0 title text-light">{{ lastSearch.title }}</h5>
                    <p class="text-light">{{ lastSearch.description }}</p>
                    <a  href="{{path('subject', {id : lastSearch.id})}}" class="btn btn-color active m-2" role="button">Voir l'article</a>
                </div>
                <div class="col-12 offset-xl-3 col-xl-1 col-md-2 offset-md-2 text-center">
                    <p class="border bg-white">Vues : {{ lastSearch.view }}</p>
                    <p class="border bg-white">réponses : {{ lastSearch.answers|length }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
