{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12 col-lg-7 offset-lg-1  order-1 order-sm-1 order-md-1 order-lg-1">
                <h1 class="text-center mb-4 text-light">mon profil</h1>
                <div class="offset-1 offset-sm-4 col-md-9 offset-md-3 offset-lg-4 mt-3 mb-3" style="width: 18rem;">
                    <div>
                        <div class="card-img-top">
                            <img class="col-12 box-shadow-page" src="{{ asset(app.session.get('account').picture) }}" alt="Profilimage" height="220" width="220">
                        </div>
                        <div class="card-body">
                                <p id="nickname" class="text-light">Nom d'utilisateur: {{ app.session.get('account').nickname }}</p>
                                <p class="text-light">Adresse Email: {{ app.session.get('account').email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 offset-sm-0 col-lg-8 offset-lg-4">
                    <a id="btnArticle" class="btn btn-color" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                        aria-expanded="false" aria-controls="multiCollapseExample1">Mes articles</a>
                    <a id="btnComment" class="btn btn-color" data-toggle="collapse" href="#Collapsearticle" role="button"
                        aria-expanded="false" aria-controls="Collapsearticle">Mes commentaires</a>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body page-trans">
                                <div class="accordion page-trans" id="articleliste">
                                    <h1 class="m-auto text-center text-light">Mes Articles</h1>
                                    {% if subjects is not defined %}
                                        <p>Aucun article</p>
                                    {% else %}
                                        {% for subject in subjects %}
                                        <div class="card page-trans">
                                            <div class="row p-2" id="headingThree">
                                                <div class="col-8">
                                                    <h5 class="mb-0">
                                                        <p class="title text-light">{{ subject.title }}</p>
                                                    </h5>
                                                    <p class="text-light">{{ subject.description }}</p>
                                                    <a  href="{{path('subject', {id : subject.id})}}" class="btn btn-color active m-2" role="button">Voir l'article</a>
                                                </div>
                                                <div class="col-12 offset-xl-3 col-xl-1 col-md-2 offset-md-2 text-center">
                                                    <p class="border bg-white">Vues : {{ subject.view }}</p>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <p>{{ subject.title }}</p>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree">
                                                    <div class="card-body">{{ subject.description }}<a
                                                        href="{{path('subject', {id : subject.id})}}" class="btn btn-color btn-sm active m-2" role="button">Voir l'article</a>
                                                    </div>
                                                </div>
                                            </div> -->
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="Collapsearticle">
                            <div class="card card-body page-trans">
                                <div class="accordion" id="articleliste">
                                    <h1 class="m-auto text-center text-light">Mes réponses</h1>
                                    {% if answers is not defined %}
                                        <p>Aucune réponse</p>
                                    {% else %}
                                        {% for answer in answers %}
                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <p>{{ answer.content|truncate }}</p>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree">
                                                    <div class="card-body"><a href="{{path('subject', {id : answer.subject.id})}}" class="btn btn-color btn-sm active m-2 text-light" role="button">Voir l'article</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 text-center col-lg-4 offset-lg-1 ml-0 mt-3 mb-3 order-2 order-lg-2 order-sm-2">
                <h2 class="col-12 text-light">Modifier mes information</h2>
                <div class="row">
                    <ul class="row m-auto">
                        <li class="admintag mt-3 col-12 col-md-12">
                            <button type="button" class="btn btn-color btn-lg col-10 col-sm-12 col-md-12 col-lg-12"
                                data-toggle="modal" data-target="#modalpassword">Changer mot de passe</button>
                            <div class="modal fade" id="modalpassword" tabindex="-1" role="dialog" aria-labelledby="modalpassword"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content page-trans">
                                        <div class="modal-header page-trans">
                                            <h5 class="modal-title text-light" id="modalpassword">Changer de mot de passe</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card card-body">
                                                <div class="message"></div>
                                            <form class="col-12" id="FormChangePassword" action="{{ path('apiPasswordChange') }}" method="POST">
                                                <div class="currentpass"></div>
                                                    <div class="input-group mb-2 mr-sm-2">
                                                        <input type="password" class="form-control CurrentPass" name="CurrentPass"
                                                            placeholder="Ancien mot de passe">
                                                    </div>
                                                    <div class="newpassword"></div>
                                                    <div class="input-group mb-2 mr-sm-2">
                                                        <input type="password" class="form-control NewPass" name="NewPass"
                                                            placeholder="Nouveau mot de passe">
                                                    </div>
                                                    <div class="input-group mb-2 mr-sm-2">
                                                        <input type="password" class="form-control NewPass2" name="NewPass2"
                                                            placeholder="comfirmer le mot de passe">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        <input type="submit" id="ConfirmPasswordChange" class="btn btn-info show">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="admintag mt-3 col-12 col-md-12">
                            <button type="button" class="btn btn-color btn-lg col-10 col-sm-12 col-md-12 col-lg-12"
                                data-toggle="modal" data-target="#modalimg">Changer image de profil</button>
                            <div class="modal fade" id="modalimg" tabindex="-1" role="dialog" aria-labelledby="modalimg"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content page-trans">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-light" id="modalimg">Changer image de profil</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card card-body">
                                                <div class="input-group col-12">
                                                    <div class="custom-file">
                                                        <form action="{{ path('profil') }}" method="POST" enctype="multipart/form-data">
                                                            <input type="hidden" name="MAX_FILE_SIZE" value="4000000">
                                                            <input type="file" class="custom-file-input" id="uploadform" name="img">
                                                            <label class="custom-file-label" for="uploadform">Choisisez une
                                                            image</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                <input type="submit" class="btn btn-info">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="admintag mt-3 col-12 col-md-12">
                            <button type="button" class="btn btn-color btn-lg col-10 col-sm-12 col-md-12 col-lg-12"
                                data-toggle="modal" data-target="#modalnickname">Changer nom d'utilisateur</button>
                            <div class="modal fade" id="modalnickname" tabindex="-1" role="dialog" aria-labelledby="modalnickname"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content page-trans">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-light" id="modalnickname">Changer de nom d'utilisateur</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="currentname"></div>
                                            <form action="{{ path('apiNameChange') }}" method="POST" id="FormChangeNickName">
                                            <div class="modal-body">
                                                <div class="card card-body">
                                                    <form class="col-12">
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <input type="text" class="form-control Nickname"  name="Nickname" id="nickname_change"
                                                                placeholder="changer de nom d'utilisateur">
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                <input type="submit" class="btn btn-info">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if app.session.get('account').status == 1 %}
                        <li class="admintag mt-3 col-12 col-sm-10 offset-sm-1">
                            <div class="card border-warning mb-3">
                                <div class="card-header">Attention !</div>
                                <div class="card-body text-warning">
                                    <h5 class="card-title">Vous avez recu un avertissement valable jusqu'au : {{ app.session.get('account').waringDuration|date('d/m/Y H:i:s') }}</h5>
                                    <p class="card-text">{{ app.session.get('account').warning }}</p>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% if app.session.get('account').status == 2 %}
                        <li class="admintag mt-3 col-12 col-sm-10 offset-sm-1">
                            <div class="card border-danger mb-3">
                                <div class="card-header">Attention !</div>
                                <div class="card-body text-danger">
                                    <h5 class="card-title">Vous avez recu un avertissement important valable jusqu'au : {{ app.session.get('account').waringDuration|date('d/m/Y H:i:s') }}</h5>
                                    <p class="card-text">{{ app.session.get('account').warning }}</p>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="main-footer"></footer>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/CreateSubject.js') }}"></script>
    <script src="{{ asset('js/PasswordChange.js') }}"></script>
    <script src="{{ asset('js/ChangeNickName.js') }}"></script>
{% endblock %}