{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}
{% block body %}
<h1 class="text-center">Résultat : </h1>
{% if msg is defined %}
    {% if msg == true %}
        <p class="alert alert-danger">Mot clé incorrect, veuillez affiner votre recherche</p>
    {% else %}
        <p class="alert alert-danger">Aucun article trouvé</p>
    {% endif %}
{% else %}
{% for article in articles %}
    <div class="card-header" id="headingThree">
        <div class="card-body">
            </div>
            <h5 class="mb-0">
                <p> {{article.title|raw }}  écrit par : {{ article.author.nickname }}, le {{ article.date|date('d-m-Y') }}</p>
                <p>Catégorie(s) : {% if article.categories != '' %}{{ article.categories }}{% else %}aucune{% endif %}</p>
                <a href="{{ path('subject', {id : article.id}) }}" class="btn btn-info btn-sm active m-2" role="button">Voir l'article</a>
            </h5>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
{% block javascripts %}{% endblock %}
